* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --charcoal: #404E5C;
    --gold: #B1740F;
    --blue: #74A4BC;
    --opal: #B6D6CC;
    --off-yellow: #CAD49D;
}

body {
    background-color: var(--opal);
    color: var(--charcoal);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 15px 35px;
    background-color: var(--charcoal);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--off-yellow);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

header a {
    text-decoration: none;
    color: var(--off-yellow);
}

header nav {
    margin: 5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

header nav ul li a:hover {
    background: var(--blue);
    color: var(--charcoal);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    background: var(--charcoal);
    width: 100%;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer div {
    color: var(--off-yellow);
    font-size: 16px;
    margin: 0;
}

section {
    padding: 60px;
}

.hero {
    background-image: url("../images/IMG_1659.JPG");
    transform: scaleX(-1);
    background-size: cover;
    background-position-y: 20%;
    height: 400px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.hero-subtitle {
    color: var(--off-yellow);
    transform: scaleX(-1);
    background-color: var(--charcoal);
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-title {
    border-right: 3px solid var(--charcoal);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.bio div {
    display: flex;
}

.bio p {
    margin-left: 10px;
    text-decoration: none;
}

/* grid */
.portfolio {
    background: var(--off-yellow);
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.work-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.work-grid-container {
    width: 80%;
    display: grid;
    background: var(--off-yellow);
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: repeat(3, 2fr);
    font-size: 1.2rem;
    grid-gap: 20px;
}

.work-grid-item {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 150px;
    color: var(--blue);
}

.work-grid-item div {
    background: var(--blue);
    color: var(--gold);
    border-radius: 15px;
    padding: 10px
}

.most-recent {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 300px;
}

.most-recent {
    background-image: url(../images/run-buddy.png);
    background-size: cover;
}

.secrets-out {
    background-image: url(../images/Secrets\ Out\ Insta.jpg);
    background-size: cover;
    background-position: 20%;
}

.herata {
    background-image: url(../images/hqdefault.jpg);
    background-size: cover;
    background-position: 10%;
}

.goldfish {
    background-image: url(../images/IMG_7256.jpg);
    background-size: cover;
    background-position: 30%;
}